{% extends 'base.html' %}

{% block title %}
    <title>EduIndia|Common Regis</title>
{% endblock %}
{% block body %}
<section class="irs-account-field">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="irs-account-col">
                        <h3>Register</h3>
                        
                        <form method="post">
						    {% csrf_token %}

						    {% for field in form %}
						      <div class="form-group">
						        <!-- {{ field.label_tag }} -->
						        <br>
 						        {{ form.as_p }}
						       <!--  {% if field.help_text %}
						          <small class="form-text text-muted">
						            {{ field.help_text }}
						          </small>
						        {% endif %} -->
						      </div>
						     {% endfor %}

						    <!--  -->
						  
						<br>
                            <button class="btn btn-default irs-big-btn" type="submit">Submit</button>
                        </form>
                    </div>
                </div>              
            </div>
        </div>
    </section>
    <!-- Account end -->
{% endblock %}
