{% extends 'base.html' %}

{% block title %}
    <title>UG Science</title>
{% endblock %}

{% block body %}


    <!-- Main Header end -->

    <!-- Inner page hedaing start -->
    <!--<section class="irs-inner-page-heading irs-layer-black imageb">
        <div class="study_container">
            <div class="row">
                <div class="col-md-12">
                    <div class="irs-inner-heading">
                        <h2>Why Study In INDIA</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- Inner page hedaing end -->

    <!-- About start -->
   <section class="irs-about-field">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="irs-section-title">
                        <h2 style="font-size: 28px"><span>Scholarships</span> for International Students</h2>
                        <div class="irs-title-line">
                            <!--<div class="irs-title-icon">
                                <i class="icofont icofont-education"></i>
                            </div>-->
                        </div>
                        <p>The Government of India offers a number of scholarships every year to international students who wish to pursue their studies in India. Offer of scholarships are sent to the respective Governments through Indian diplomatic missions abroad. Nominations are received from the respective Governments in the Indian diplomatic missions concerned. The information on such scholarships and schemes can be availed from the Indian missions abroad. Some of the scholarships are:</p>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <!-- About end -->

   

    <!-- Discription start-->
    <section class="irs-discription-field">
        <div class="container">
            <!--<div class="row">
                <div class="col-md-12">
                    <div class="irs-discription-col">
                        <h1 style="text-decoration:underline; ">Know about INDIA</h1>
                    </div>
                </div>
            </div>-->
        <div class="list">
            <ol>
            <li class="reason">
              <h2><b>General Cultural Scholarship Scheme (GCSS)</b></h2>
              <p>Scholarships are awarded under this scheme (GCSS) annually to international students belonging to certain Asian, African and Latin American countries for the undergraduate, postgraduate degrees and for pursuing research at Indian universities. However, scholarships for medical studies for MBBS, BDS or for medical research leading to a Ph.D. degree are not offered under the GCSS scheme. A list of countries covered under the GCSS is given below:
              <br><br>
              Afghanistan, Barbados, Botswana, Cambodia, Cameroon, Ethiopia, Fiji, Gambia, Guyana, Indonesia, Iran, Iraq, Jamaica, Jordan, Kazakhstan, Kenya, Laos, Lesotho, Maldives, Mauritius, Myanmar, Malawi, Namibia, Nepal, Palestine, Russia, Saudi Arabia, Senegal, Somalia, South Africa, Republic of Ireland, Sri Lanka, Syria, Seychelles, Sudan, Tanzania, Thailand, Trinidad and Tobago, Uganda, Uzbekistan, UAE, Vietnam, Yemen, Zaire, Zambia. Zimbabwe.<br><br>
              <a href="http://www.iccr.gov.in/content/general-scholarships-scheme-gss">Read more</a><br><br></p> 
            </li>

            <li class="reason">
              <h2><b>Cultural Exchange Programme</b></h2>
              <p>
                Every year <a href="https://archive.india.gov.in/outerwin.php?id=http://www.iccrindia.net/">The Indian Council for Cultural Relations</a>(ICCR) administers scholarships international students according to the terms and conditions of the Cultural Exchange Programme signed between the Government of India and the Government of the respective country for studying, training and research in various fields. At present India has Cultural Exchange Programmes with the following countries:
                <br><br>
                Australia, Algeria, Argentina, Afghanistan, Bangladesh, Bulgaria, Belgium, Bahrain, Colombia, Cyprus, China, Czech, Ethiopia, Finland, France, Germany, Ghana, Greece, Hungary, Iran, Iraq, Israel, Italy, Japan, Jordan, Kazakhstan, Kenya, Kuwait, Kyrghyzstan, Mongolia, Myanmar, Maldives, Mauritius, Malaysia, Mexico, Mali, Netherlands, Nigeria, North Korea, Norway, Pakistan, Philippines, Portugal, Poland, Romania, Russia, Rwanda, Slovakia, Spain, Sweden, South Korea, Senegal, Sudan, Syria, Somalia, Sri Lanka, Thailand, Tunisia, Turkey, Turkmenistan, Uganda, United Arab Emirates (UAE), United Arab Republic (Egypt), Uzbekistan, Vietnam, Yemen, Zaire, Zimbabwe.
                <br><br>
              </p> 
            </li>

            <li class="reason">
              <h2><b>Commonwealth Fellowship Plan</b></h2>
              <p>Scholarships and fellowships are offered annually under this scheme to candidates from Commonwealth countries mainly for postgraduate studies, though a few awards may be made available for undergraduate studies in those disciplines for which adequate facilities may not exist in the applicants' country. Short duration scholarships are also available under this scheme for scholars wishing to collect material for conducting research projects back home.<br><br><a href="http://www.iccr.gov.in/content/commonwealth-scholarships">Read More</a><br><br> </p> 
            </li>

            <li class="reason">
              <h2><b>Reciprocal Scholarships Scheme</b></h2>
              <p>Candidates wishing to do postgraduate study or research in any subject, for whom facilities exist in India, may apply for a scholarship under this scheme. Applicants wanting to study or wishing to specialise in Indian Classical Music, Indian Classical Dance, Painting, Sculpture, Drama and Indian Languages may also be considered for admission at the undergraduate level. For undergraduate courses, international students may join any university or a recognised institution. An international student wishing to study Indian languages should join a university or institution as a regular student.
              <br><br>
              Scholarships under this scheme are available to candidates from Latin American countries and to certain specified European countries: Austria, Brazil, Chile, Costa Rica, Denmark, Nicaragua, Panama, Paraguay, Peru, Switzerland, Surinam, and Uruguay.<br><br></p> 
            </li>
            
            <li class="reason">
              <h2><b>Technical Cooperation Scheme of the Colombo Plan</b></h2>
              <p>
                This scheme is administered on behalf of the Department of Economic Affairs, Ministry of Finance and Ministry of External Affairs and is meant for students who are nationals of Asian countries.<br>
                Under the TCS of the Colombo Plan, scholarships are awarded to the candidates of the following countries:<br><br>
                Afghanistan, Bangladesh, Bhutan, Iran, Indonesia, Laos, Malaysia, Myanmar, Maldives, Nepal, Philippines, Papua New Guinea, Sri Lanka, South Korea, Thailand.
                <br>
                According to the scheme, scholarships are offered for under-graduate, post-graduate and research towards a Ph.D. degree. At the under-graduate level a few scholarships are also available for engineering degrees or diploma courses.<br><br>
                The scholarships in this scheme are of two categories:
                <ul style="list-style-type: square;">
                    <li>Category I: This category is for training of officers coming for short or medium-term courses.</li>
                    <li>Category II: This is meant for students, trainees, undergraduates and postgraduates coming for short, medium or long-term courses.</li>
                </ul>
                <br>
                The duration of courses is as follows:
                <ul style="list-style-type: square;">
                    <li>One year or less</li>
                    <li>Up to two years</li>
                    <li>More than two years</li>
                </ul><br><br><a href="https://www.indianhighcommission.com.my/tcscolomboplan.html">Read More</a></p> 
            </li>

            <li class="reason">
              <h2><b>SAARC Fellowship Scheme</b></h2>
              <p>
                To promote interaction among students, scholars, academicians from SAARC countries, the Government of India has introduced the SAARC Fellowship and Scholarship Scheme. Six fellowships and twelve scholarships are offered annually to the nationals of member countries viz. Bangladesh, Bhutan, Maldives, Nepal, Pakistan and Sri Lanka. Therefore, one fellowship and two scholarships are offered to nationals of each member country.
                <br><br>
                Fellowships and scholarships are offered for studies in areas of Economics, Education, Environment, Agriculture, Mass Communication, Language and Literature, Sociology, Transport Engineering, Applied Economics, Master of Business Administration Programme, Biochemistry, Social Work, Food Technology and Home Science.
                <br><br>
                In addition, one Chair is also awarded to a member country on rotation basis. Only such courses, for which no adequate facilities exist in the member countries, are offered for study by the Government of India. The financial terms and conditions are finalised by the SAARC secretariat.<br><br></p> 
            </li>

            <li class="reason">
              <h2><b>Appasaheb Pant Scholarship Scheme</b></h2>
              <p>Under this scheme one scholarship is offered to a Kenyan national to pursue studies at the postgraduate level, preferably in the field of Economics or International Relations at Jawaharlal Nehru University. Apart from the usual dues, economy class air-fare is also provided.<br><br></p> 
            </li>

            <li class="reason">
              <h2><b>ICCR Scholarship Scheme</b></h2>
              <p>The Ministry of External Affairs, Government of India offers ICCR (Indian Council for Cultural Relations) scholarships to the students all over the world. ICCR covers 60 scholarships under its umbrella, offered for undergraduate and post graduate Programmes in Performing and Visual Arts. Subjects include Indian Classical Music, Dance, Painting and Sculpture.<br><br><a href="http://www.iccr.gov.in/content/africa-scholarships">Read More</a><br><br></p> 
            </li>

            <li class="reason">
              <h2><b>Craft Instructors Scheme</b></h2>
              <p>Under this scheme 10 bursaries are offered annually to nationals of Commonwealth countries for training as craft instructors.<br><br><a href="http://dget.nic.in/content/innerpage/crafts-instructor-training-scheme-cits.php">Read More</a><br><br></p> 
            </li>

            <li class="reason">
              <h2><b>Scholarship Scheme for Sri Lanka and Mauritius</b></h2>
              <p>Under this scheme 77 scholarships are offered annually, 47 for Sri Lanka and 30 for Mauritius. These scholarships are for pursuing studies towards under-graduate, post-graduate degrees and for pursuing research towards fulfilment of a Ph.D. degree. Nationals of Sri Lanka can also study specialised subjects such as Agriculture, Engineering and Pharmacy under this scheme.<br><br><a href="http://www.iccr.gov.in/content/many-other-schemes">Read More</a><br><br></p> 
            </li>
            </ol>
        </div>
        <!--End of List-->
        </div>
    </section>
   <!-- Discription end-->  
   {% endblock %}