{% extends 'base.html' %}
{% block title %}
    <title>EduIndia|Study Permits</title>
{% endblock %}
{% block body %}
    <section class="irs-inner-page-heading irs-layer-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="irs-inner-heading">
                        <h2>Study Permits</h2>
                        <i class="icofont icofont-education"></i>
                        <p><a href="http://irsfoundation.com/tf/templates/EducationPark/index-layout1.html">HOME</a> > <a href="about.html#">Study Permit</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="irs-discription-field">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="irs-discription-col">
                            <h1>How to get permitted? <span></span></h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-md-5"> -->
                        <div class="irs-discription-col">
                            <p class="irs-topdiscription">The Indian education system provides immense opportunities for all the international students.Students from various backgrounds and nationality are welcomed here.We celebrate diversity and provide the best experience to the students.</p>
                        </div>
                    <!-- </div> -->
                    
                    <!-- <div class="col-md-5"> -->
                        <div class="irs-discription-col">
                            <p class="irs-topdiscription">India offers various kinds of visas, depending on the purpose of visit. Student visa is a visa specifically for the students to desire to come to India for education purpose. Student Visas are issued for the duration of the academic course of study or for a period of five years whichever is less, on the basis of letters of admission from Universities/recognised colleges or educational institutions in India. The children of NRIs and PIOs cardholders need not procure a student visa. Other international students need student visa or research visa for Doctoral level courses.

                            The students are required to be granted a student visa who wish to come in India.Indian Missions/Posts grant a student visa for a period of five years or for the duration of the course of study, whichever is less, to the below:</p>
                            <ul>
                                        <li><i class="zmdi zmdi-dot-circle"></i> To foreigner students coming to India to pursue regular and full time academic studies in India.</li>

                                        <li><i class="zmdi zmdi-dot-circle"></i> For foreigner students coming for Industrial training, summer project and internship.</li>

                                        <li><i class="zmdi zmdi-dot-circle"></i> Provisional student visa valid for six months for the students exploring admission or taking admission tests.</li>

                                        <li><i class="zmdi zmdi-dot-circle"></i> Applicant should possess the proof of admission to a full time regular academic course in a reputed/recognized educational institution in India and evidence of financial support. </li>

                                        <li><i class="zmdi zmdi-dot-circle"></i> The applicant should also possess a “No Objection Certificate” from the Ministry of Health in case of admission in medical or Para-medical course.</li>

                                        <li><i class="zmdi zmdi-dot-circle"></i> Spouse and dependent family members accompanying the applicant must apply for an Entry Visa (Not Tourist Visa. Its termination date will coincide with the period of the principal Visa holder.</li>
                            </ul>
                            <p class="irs-topdiscription">Student visas are issued for up to five years, depending on the duration of the course. They can also be extended in India.


                            <br>The visa can be applied for from any of the Indian Embassies / High Commission.
                            <br>The students holding Student Visa of more than 180 days are required to register himself/herself with the local Foreigners Regional Registration Officer (External website that opens in a new window) (FRRO) within 14 days of arrival.
                            </p>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}