{% extends 'base.html' %}
{% block title %}
	<title>EduIndia|Why Study In India</title>
{% endblock %}
{% block body %}
    <section class="irs-inner-page-heading irs-layer-black imageb">
        <div class="study_container">
            <div class="row">
                <div class="col-md-12">
                    <div class="irs-inner-heading">
                        <h2>Why Study In INDIA</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
	    <!-- Discription start-->
    <section class="irs-discription-field">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="irs-discription-col">
                        <h1 style="text-decoration:underline; ">Know about INDIA</h1>
                    </div>
                </div>
            </div>
        <div class="list">
            <ol>
            <li class="reason">
              <h2><b>Top Ranking Universities</b></h2>
              <p>Being home to <strong>second largest education system</strong> in the world, India offers education in diversified fields and international students have the opportunity to study in best of the institutes.
              If you’re considering studies in engineering and technology,  in particular, the quality of India’s offerings in these areas are impressive,known for their constant pursuit of teaching excellence and boundary-pushing research.
              But India’s offerings are far from limited to these fields of studies. From politics to philosophy and biology to business there’s something for everyone in India’s massive higher education system.</p> 
            </li>

            <li class="reason">
              <h2><b>Affordable Education and Cost of living</b></h2>
              <p>
                The cost of education in India is way lower compared to giant education hubs such as the US, UK and Australia. According to HSBC report, an average annual tuition fee in India is mere $580, while an average fee in Australia is over $24,000, $24,500 in the U.S and $20,000 in the UK. So, annual tuition fee in India is not a major obstacle for international students as compared to the western countries.
              </p> 
            </li>

            <li class="reason">
              <h2><b>Diversified Culture</b></h2>
              <p>Traditions and customs do define our cultural heritage as a country. India is one state endorsed with such rich cultures that are distinct in language,dressing,dance forms and many other aspects. Cultural diversity creates uniqueness and enriches a country's history and social set ups with creativity in art and architectural aspects arising from such diversity. </p> 
            </li>

            <li class="reason">
              <h2><b>Scholarships</b></h2>
              <p>Given the cost of education in India, universities in India also offer its international students with financial assistance in form of scholarships. The government of India offers a wide range of scholarships to international students who want to pursue higher studies in the country.</p> 
            </li>
            
            <li class="reason">
              <h2><b>Campus Life</b></h2>
              <p>Campus life in India is one of the top reasons to study in India, where international students receive ample opportunities to interact and socialize in extracurricular activities and endeavours. It doesn't restrict you to just educational goals, instead helps you to get indulged in various traditional and historical activities. </p> 
            </li>
            </ol>
        </div>
        <!--End of List-->
        </div>
    </section>
   <!-- Discription end-->  

    <!-- Counter start -->
    <section class="irs-counter-field parallax irs-layer-black" data-stellar-background-ratio="0.3">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="irs-counter-col">
                        <i class="icofont icofont-users-alt-3"></i>
                        <div class="irs-funfact">
                            <div class="start-count">52</div>
                            <div class="clearfix"></div>
                            <h4>teachers</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="irs-counter-col">
                        <i class="icofont icofont-education"></i>
                        <div class="irs-funfact">
                            <div class="start-count">32</div>
                            <div class="clearfix"></div>
                            <h4>courses</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="irs-counter-col">
                        <i class="icofont icofont-group-students"></i>
                        <div class="irs-funfact">
                            <div class="start-count">2025</div>
                            <div class="clearfix"></div>
                            <h4>students</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="irs-counter-col">
                        <i class="icofont icofont-university"></i>
                        <div class="irs-funfact">
                            <div class="start-count">36</div>
                            <div class="clearfix"></div>
                            <h4>EXPERIENCE</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter end -->
{% endblock %}