{% extends 'base.html' %}
{% block title %}
    <title>EduIndia|Work Opportunities</title>
{% endblock %}
{% block body %}
    <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="irs-section-title">
                            <h2>Work Opportunities</h2>
                            <div class="irs-title-line"></div>
                            <p>India is one of the fastest developing economies of the world. You get numerous sources for gaining work experience during or after your study in India</p>
                        </div>
                    </div>
                </div>
                <div class="row animatedParent animateOnce">
                    <div class="col-md-6 col-sm-6">
                        <div class="irs-about-box animated fadeInLeftShort slow delay-250">
                            <h4>Training and internships</h4>
                            <p> Get indusrty training during your study and set the foundation of your career.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="irs-about-box animated fadeInUpShort slow delay-500">
                            <h4>Employment Visa Scheme</h4>
                            <p> Work in India after completing your studies under the employment visa which allows you to work here for a particular period after which your visa can further be extended</p>
                        </div>
                    </div>
                 </div>
            </div>
        </section>
{% endblock %}