{% extends 'base.html' %}

{% block title %}
    <title>UG Architecture</title>
{% endblock %}

{% block body %}


    <!-- courses start -->
    <section class="irs-courses-field irs-courses-single">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="irs-courses-col irs-courses-col-single">

                        <div class="irs-courses-content">
                            <h2 style="color: coral">About Architecture courses</h2>
                            <p>Architecture courses deal with the process and product of planning, designing, and constructing buildings or any other structures. In India, Bachelor of Architecture lasts for five years. Specialised institutes founded by the government of India, for excellence in the field of architecture and planning are SPAs (Schools of Planning and Architecture)</p>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="irs-course-features">
                                        <h2 style="color: coral">List of Courses</h2>
                                        <ul>
                                        	<li><strong>5 year B.Arch</strong> 
                                        	</li>
                                            
                                        </ul>
                                        <!-- <a class="btn btn-default irs-btn-transparent-two" href="http://irsfoundation.com/tf/templates/EducationPark/blog-single.html" role="button">enroll now</a> -->
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <img src="images/man.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="irs-side-bar">
                        <div class="irs-search-box">
                            <form>
                                <div class="input-group">
                                    <input placeholder="Search..." class="form-control" name="search-field" type="text">
                                    <span class="input-group-btn">
										<button type="submit" class="btn"><i class="fa fa-search"></i></button>
									</span>
                                </div>
                            </form>
                        </div>
                    
                    </div>
                </div>


                <div class="row">
                <div class="col-md-12">
                    <!-- <div class="irs-comment-single"> -->
                    <div class="course-table">
                    	<h2>List of Colleges</h2>
						<table>
  							<tr>
    							<th style="width: 6%;">S.No</th>
    							<th style="width:48%;">Name of the Institution</th>
    							<th>No. of Colleges</th>
    							<th>Website</th>
  							</tr>
  							
  							<tr>
    							<td>1.</td>
    							<td>J.J School of architecture, Mumbai</td>
    							<td>1</td>
    							<td><a href="www.sirjjarchitecture.org/">www.sirjjarchitecture.org/</a></td>
  							</tr>
                            
  							<tr>
                                <td>2.</td>
                                <td>School of Planning and Architecture (SPA), New Delhi</td>
                                <td>1</td>
                                <td><a href="spa.ac.in/">spa.ac.in/</a></td>
                            </tr>

                            <tr>
                                <td>3.</td>
                                <td>School of Planning and Architecture, BhopalSchool of Planning and Architecture, Vijayawada</td>
                                <td>1</td>
                                <td><a href="http://www.spabhopal.ac.in/">http://www.spabhopal.ac.in/</a></td>
                            </tr>

                            <tr>
                                <td>4.</td>
                                <td>CEPT University</td>
                                <td>1</td>
                                <td><a href="cept.ac.in/">cept.ac.in/</a></td>
                            </tr>

                            <tr>
                                <td>5.</td>
                                <td>Chandigarh College of Architecture, Chandigarh</td>
                                <td>1</td>
                                <td><a href="cca.nic.in/">cca.nic.in/</a></td>
                            </tr>

                            <tr>
                                <td>6.</td>
                                <td>Department of Architecture, IIT Roorkee</td>
                                <td>1</td>
                                <td><a href="https://www.iitr.ac.in/departments/AR/">https://www.iitr.ac.in/departments/AR/</a></td>
                            </tr>

                            <tr>
                                <td>7.</td>
                                <td>Department of Architecture, NIT Tiruchirappalli</td>
                                <td>1</td>
                                <td><a href="https://www.nitt.edu/home/academics/departments/architecture/">https://www.nitt.edu/home/academics/departments/architecture/</a></td>
                            </tr>
                           <!--  <tr>
                                <td class="widthtd">5.</td>
                                <td></td>
                                <td>1</td>
                                <td><a href=""></a></td>
                            </tr>

                            <tr>
                                <td class="widthtd">5.</td>
                                <td></td>
                                <td>1</td>
                                <td><a href=""></a></td>
                            </tr>

						 -->

						</table>   
                    </div>

                </div>
            	</div>
            </div>
        </div>
    </section>
    <!-- courses end -->

    <section class="irs-copyright-field">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="irs-copyright">
                        <p>Copyright© 2017. Design by <a href="https://themeforest.net/user/irs_soft">irs_soft</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- script start from here -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-dropdownhover.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="js/isotope.js"></script>
    <script type="text/javascript" src="js/stellar.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="js/css3-animate-it.js"></script>
    <script type="text/javascript" src="js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="js/jquery.scrollUp.js"></script>
    <script type="text/javascript" src="js/classie.js"></script>

    <!-- Custom script for all pages -->
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>
{%endblock%}