{% extends 'base.html' %}

{% block title %}
    <title>UG Arts</title>
{% endblock %}

{% block body %}
<section class="irs-courses-field irs-courses-single">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="irs-courses-col irs-courses-col-single">

                        <div class="irs-courses-content">
                            <h2 style="color: coral">About Arts courses</h2>
                            <p>Is a bachelor's degree awarded for an undergraduate course or program in either the liberal arts, the sciences, or both.
                            It creates opportunities for students to develop skills for life:innovative and open-minded thinking,social adaptability, cultural awareness and inter-personal skills that will inform their future and spark their creativity. </p>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="irs-course-features">
                                        <h2 style="color: coral">List of Courses</h2>
                                        <ul>
                                        	<li><strong>B.A. (Hons) Applied Psychology </strong> 
                                        	</li>
                                            <li><strong>B.A. (Hons) Arabic</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons) Bengali </strong> 
                                            </li>
                                            <li><strong>B.A. (Hons) Business Economics (BBE)</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons) Economics</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons) English</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons) French </strong> 
                                            </li>
                                            <li><strong>B.A. (Hons.) Geography</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons.) German</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons.) Hindi</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons.) History</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons.) Humanities & Social Sciences</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons.) Italian</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons.) Journalism</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons.) Philosophy</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons.) Political Science</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons.) Psychology</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons.) Social Work</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons.) Sociology</strong> 
                                            </li>
                                            <li><strong>B.A. (Hons.) Spanish</strong> 
                                            </li>
                                            
                                        </ul>
                                        <!-- <a class="btn btn-default irs-btn-transparent-two" href="http://irsfoundation.com/tf/templates/EducationPark/blog-single.html" role="button">enroll now</a> -->
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <img src="images/man.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                <div class="col-md-12">
                    <!-- <div class="irs-comment-single"> -->
                    <div class="course-table">
                    	<h2>List of Colleges</h2>
						<table>
  							<tr>
    							<th style="width: 6%;">S.No</th>
    							<th style="width:48%;">Name of the Institution</th>
    							<th>No. of Colleges</th>
    							<th>Website</th>
  							</tr>
  							
  							<tr>
    							<td>1.</td>
    							<td>Delhi University</td>
    							<td>90</td>
    							<td><a href="http://www.du.ac.in/du/">http://www.du.ac.in/du/</a></td>
  							</tr>
  
  							<tr>
    							<td>2.</td>
    							<td>St. Xavier's College, Mumbai</td>
    							<td>1</td>
    							<td><a href="http://xaviers.edu/main/">http://xaviers.edu/main/</a></td>
  							</tr>

  							<tr>
    							<td>3.</td>
    							<td>St. Joseph's College, Bangalore</td>
    							<td>1</td>
    							<td><a href="http://www.sjc.ac.in/">http://www.sjc.ac.in/</a></td>
  							</tr>

  							<tr>
    							<td>4.</td>
    							<td>Presidency College, Kolkata</td>
    							<td>1</td>
    							<td><a href="www.presiuniv.ac.in/">www.presiuniv.ac.in/</a></td>
  							</tr>

  							<!-- <tr>
    							<td>5.</td>
    							<td>Delhi University</td>
    							<td>90</td>
    							<td><a href="http://www.du.ac.in/du/">http://www.du.ac.in/du/</a></td>
  							</tr>

  							<tr>
    							<td>6.</td>
    							<td>Delhi University</td>
    							<td>90</td>
    							<td><a href="http://www.du.ac.in/du/">http://www.du.ac.in/du/</a></td>
  							</tr>
 -->

						</table>   
                    </div>

                </div>
            	</div>
            </div>
        </div>
    </section>
    <!-- courses end -->

{% endblock %}