{% extends 'base.html' %}

{% block title %}
    <title>UG Technology</title>
{% endblock %}

{% block body %}
    <!-- courses start -->
    <section class="irs-courses-field irs-courses-single">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="irs-courses-col irs-courses-col-single">

                        <div class="irs-courses-content">
                            <h2 style="color: coral">About Business Management courses</h2>
                            <p>It provides students with a wide range of managerial skills, while building competence in a particular area of business.<br>
                            The Indian Universities / Institutions and Colleges offer admission into different B.Com degree programs, or research programs, etc. according to guidelines laid by the University Grants Commission (UGC), Ministry of Commerce and Industry and Ministry of Human Resource Development (MHRD) of Government of India.</p>

                            <div class="row">
                                <div class="col-md-7">
                                    <div class="irs-course-features">
                                        <h2 style="color: coral">List of Courses</h2>
                                        <ul>                                        	
                                        	<li><strong>Bachelor of Commerce (B.Com.)</strong> 
                                            </li>
                                            <li><strong>Bachelor of Commerce (Hons.)</strong> 
                                            </li>                                                 
                                            
                                        </ul>
                                        <!-- <a class="btn btn-default irs-btn-transparent-two" href="http://irsfoundation.com/tf/templates/EducationPark/blog-single.html" role="button">enroll now</a> -->
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <img src="images/man.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="irs-side-bar">
                        <div class="irs-search-box">
                            <form>
                                <div class="input-group">
                                    <input placeholder="Search..." class="form-control" name="search-field" type="text">
                                    <span class="input-group-btn">
										<button type="submit" class="btn"><i class="fa fa-search"></i></button>
									</span>
                                </div>
                            </form>
                        </div>
                    
                    </div>
                </div>


                <div class="row">
                <div class="col-md-12">
                    <!-- <div class="irs-comment-single"> -->
                    <div class="course-table">
                    	<h2>List of Colleges</h2>
						<table>
  							<tr>
                                <th style="width: 6%;">S.No</th>
                                <th style="width:48%;">Name of the Institution</th>
                                <th>No. of Colleges</th>
                                <th>Website</th>
                            </tr>
                            
                            <tr>
                                <td>1.</td>
                                <td>Delhi University(DU)</td>
                                <td>90</td>
                                <td><a href="http://www.du.ac.in/du/">http://www.du.ac.in/du/</a></td>
                            </tr>
  
                            <tr>
                                <td class="widthtd">2.</td>
                                <td>University of Mumbai</td>
                                <td>60</td>
                                <td><a href="http://mu.ac.in/portal/">http://mu.ac.in/portal/</a></td>
                            </tr>

                            <tr>
                                <td class="widthtd">3.</td>
                                <td>Stella Maris College, Chennai</td>
                                <td>1</td>
                                <td><a href="http://www.stellamariscollege.org/">http://www.stellamariscollege.org/</a></td>
                            </tr>

                            <tr>
                                <td class="widthtd">4.</td>
                                <td>Goenka College of Commerce and Business Administration,Kolkata</td>
                                <td>1</td>
                                <td><a href="http://goenkacollege.net/">http://goenkacollege.net/</a></td>
                            </tr>

                            <tr>
                                <td class="widthtd">5.</td>
                                <td>Presidency College, Chennai</td>
                                <td>1</td>
                                <td><a href="http://www.presidencychennai.com/">http://www.presidencychennai.com/</a></td>
                            </tr>
						</table>   
                    </div>

                </div>
            	</div>
            </div>
        </div>
    </section>
    <!-- courses end -->


    <section class="irs-copyright-field">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="irs-copyright">
                        <p>Copyright© 2017. Design by <a href="https://themeforest.net/user/irs_soft">irs_soft</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- script start from here -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-dropdownhover.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="js/isotope.js"></script>
    <script type="text/javascript" src="js/stellar.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="js/css3-animate-it.js"></script>
    <script type="text/javascript" src="js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="js/jquery.scrollUp.js"></script>
    <script type="text/javascript" src="js/classie.js"></script>

    <!-- Custom script for all pages -->
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>
{%endblock%}