{% extends 'base.html' %}

{% block title %}
    <title>UG Management</title>
{% endblock %}

{% block body %}

<section class="irs-courses-field irs-courses-single">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="irs-courses-col irs-courses-col-single">

                        <div class="irs-courses-content">
                            <h2 style="color: coral">About Business Management courses</h2>
                            <p>An academic discipline, investigating areas such as social organization and organizational leadership.Business administration is management of a business. It includes all aspects of overseeing and supervising business operations and related field which include Accounting, Finance and Marketing.</p>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="irs-course-features">
                                        <h2 style="color: coral">List of Courses</h2>
                                        <ul>                                        	
                                        	<li><strong>Bachelor of Management Studies (BMS)</strong> 
                                            </li>
                                            <li><strong>Bachelor of Financial and Investment Analysis (BFIA)</strong> 
                                            </li>
                                            <li><strong>Bachelor of Business Administration (Financial &amp; Investment Analysis)</strong> 
                                            </li> 
                                            <li><strong>B.A. (Hons.) Business Economics (BBE)</strong> 
                                            </li> 
                                        </ul>
                                        <!-- <a class="btn btn-default irs-btn-transparent-two" href="http://irsfoundation.com/tf/templates/EducationPark/blog-single.html" role="button">enroll now</a> -->
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <img src="images/man.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="irs-side-bar">
                        <div class="irs-search-box">
                            <form>
                                <div class="input-group">
                                    <input placeholder="Search..." class="form-control" name="search-field" type="text">
                                    <span class="input-group-btn">
										<button type="submit" class="btn"><i class="fa fa-search"></i></button>
									</span>
                                </div>
                            </form>
                        </div>
                    
                    </div>
                </div>


                <div class="row">
                <div class="col-md-12">
                    <!-- <div class="irs-comment-single"> -->
                    <div class="course-table">
                    	<h2>List of Colleges</h2>
						<table>
  							<tr>
                                <th style="width: 6%;">S.No</th>
                                <th style="width:48%;">Name of the Institution</th>
                                <th>No. of Colleges</th>
                                <th>Website</th>
                            </tr>
                            
                            <tr>
                                <td>1.</td>
                                <td>Delhi University(DU)</td>
                                <td>13</td>
                                <td><a href="http://www.du.ac.in/du/">http://www.du.ac.in/du/</a></td>
                            </tr>
  
                            <tr>
                                <td class="widthtd">2.</td>
                                <td>University of Mumbai</td>
                                <td>11</td>
                                <td><a href="http://mu.ac.in/portal/">http://mu.ac.in/portal/</a></td>
                            </tr>

						</table>   
                    </div>

                </div>
            	</div>
            </div>
        </div>
    </section>
    <!-- courses end -->

    <!-- Footer start -->
    <footer class="irs-footer-field">
        <div class="container">
            <div class="row animatedParent animateOnce animateOnce">
                <div class="col-md-3">
                    <div class="irs-footer-about">
                        <img class="irs-foooter-logo" src="images/footer-logo.png" alt="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin eiusmodtin didunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        <div class="irs-social">
                            <a href="course-single.html#"><i class="icofont icofont-social-facebook"></i></a>
                            <a href="course-single.html#"><i class="icofont icofont-social-twitter"></i></a>
                            <a href="course-single.html#"><i class="icofont icofont-social-vimeo"></i></a>
                            <a href="course-single.html#"><i class="icofont icofont-brand-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="irs-footer-link">
                        <h4 class="irs-footer-heading">Useful Links</h4>
                        <ul>
                            <li><a href="course-single.html#">Home</a>
                            </li>
                            <li><a href="course-single.html#">About Us</a>
                            </li>
                            <li><a href="course-single.html#">Courses</a>
                            </li>
                            <li><a href="course-single.html#">Teachers</a>
                            </li>
                            <li><a href="course-single.html#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="irs-footer-tweets">
                        <h4 class="irs-footer-heading">RECENT TWEETS</h4>
                        <div class="irs-tweets">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <p><a href="course-single.html#">@UNIVERSITY</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin.</p>
                            <a href="course-single.html#">about 5 min ago</a>
                        </div>
                        <div class="irs-tweets">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <p><a href="course-single.html#">@UNIVERSITY</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtin.</p>
                            <a href="course-single.html#">about 5 min ago</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="irs-footer-contact">
                        <h4 class="irs-footer-heading">Contact Us</h4>
                        <img src="images/footer.jpg" alt="">
                        <div class="irs-mailbox">
                            <p><i class="zmdi zmdi-email"></i> Mail: yourmail@gmail.com </p>
                            <p><i class="zmdi zmdi-gps-dot"></i> 678 Zoomtowr, Main road, Canada</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

    <section class="irs-copyright-field">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="irs-copyright">
                        <p>Copyright© 2017. Design by <a href="https://themeforest.net/user/irs_soft">irs_soft</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- script start from here -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-dropdownhover.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="js/isotope.js"></script>
    <script type="text/javascript" src="js/stellar.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="js/css3-animate-it.js"></script>
    <script type="text/javascript" src="js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="js/jquery.scrollUp.js"></script>
    <script type="text/javascript" src="js/classie.js"></script>

    <!-- Custom script for all pages -->
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>
{%endblock%}