{% extends 'base.html' %}

{% block title %}
    <title>UG TCommerce</title>
{% endblock %}

{% block body %}

<section class="irs-courses-field irs-courses-single">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="irs-courses-col irs-courses-col-single">

                        <div class="irs-courses-content">
                            <h2 style="color: coral">About Computer Science courses</h2>
                            <p>It deals with the application of science and practical knowledge to the innovation,
                                 design and construction of various tools and machines that facilitates the building of modern and evolving technology.
                                 <br>The engineering courses in India are regulated and set up under the aegis of the University Grants Commission (UGC) and the All India Council for Technical Education (AICTE).</p>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="irs-course-features">
                                        <h2 style="color: coral">List of Courses</h2>
                                        <ul>
                                        	<li><strong>Aerospace Engineering</strong> 
                                        	</li>
                                        	<li><strong>Agriculture and Food Engineering</strong> 
                                        	</li>
                                            <li><strong>B.Tech. in Biochemical Engineering and Biotechnology</strong> 
                                            </li>
                                            <li><strong>B.Tech. in Chemical Engineering	</strong> 
                                            </li>
                                            <li><strong>B.Tech. in Computer Science and Engineering	</strong> 
                                            </li>
                                            <li><strong>B.Tech. in Civil Engineering</strong> 
                                            </li>
                                            <li><strong>B.Tech. in Electrical Engineering</strong> 
                                            </li>
                                             <li><strong>B.Tech. in Electronics and Electrical Communications</strong> 
                                            </li>
                                            <li><strong>B.Tech. in Industrial and Management Engineering</strong> 
                                            </li>
                                            <li><strong>Mettalurgical Engineering & Materials Science</strong> 
                                            </li>
                                            <li><strong>Mathematics & Computing</strong> 
                                            </li>
                                            <li><strong>B.Tech. in Mechanical Engineering</strong> 
                                            </li>
                                            <li><strong>B.Tech. in Mining Engineering</strong> 
                                            </li>
                                            <li><strong>B.Tech. in Production and Industrial Engineering</strong> 
                                            </li>
                                            <li><strong>B.Tech. in Engineering Physics</strong> 
                                            </li>
                                            <li><strong>B.Tech. in Textile Engineering</strong>
                                            </li>
                                            
                                            
                                        </ul>
                                        <!-- <a class="btn btn-default irs-btn-transparent-two" href="http://irsfoundation.com/tf/templates/EducationPark/blog-single.html" role="button">enroll now</a> -->
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <img src="images/man.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="irs-side-bar">
                        <div class="irs-search-box">
                            <form>
                                <div class="input-group">
                                    <input placeholder="Search..." class="form-control" name="search-field" type="text">
                                    <span class="input-group-btn">
										<button type="submit" class="btn"><i class="fa fa-search"></i></button>
									</span>
                                </div>
                            </form>
                        </div>
                    
                    </div>
                </div>


                <div class="row">
                <div class="col-md-12">
                    <!-- <div class="irs-comment-single"> -->
                    <div class="course-table">
                    	<h2>List of Colleges</h2>
						<table>
  							<tr>
    							<th style="width: 6%;">S.No</th>
    							<th style="width:48%;">Name of the Institution</th>
    							<th>No. of Colleges</th>
    							<th>Website</th>
  							</tr>
  							
  							<tr>
    							<td>1.</td>
    							<td>Indian Institute of Technology (IITs)</td>
    							<td>16</td>
    							<td><a href="https://en.wikipedia.org/wiki/Indian_Institutes_of_Technology">https://en.wikipedia.org/wiki/Indian_Institutes_of_Technology</a></td>
  							</tr>
  
  							<tr>
    							<td class="widthtd">2.</td>
    							<td>National Institute of Technology (NITs)</td>
    							<td>31</td>
    							<td><a href="https://en.wikipedia.org/wiki/National_Institutes_of_Technology">https://en.wikipedia.org/wiki/National_Institutes_of_Technology</a></td>
  							</tr>

  							<tr>
    							<td class="widthtd">3.</td>
    							<td>Indian School of Mines University (ISMU), Dhanbad</td>
    							<td>1</td>
    							<td><a href="https://www.iitism.ac.in/">https://www.iitism.ac.in/</a></td>
  							</tr>

  							<tr>
    							<td class="widthtd">4.</td>
    							<td>Delhi Technological University</td>
    							<td>1</td>
    							<td><a href="http://dtu.ac.in/">http://dtu.ac.in/</a></td>
  							</tr>

  							<tr>
    							<td class="widthtd">5.</td>
    							<td>NETAJI SUBHAS INSTITUTE OF TECHNOLOGY</td>
    							<td>1</td>
    							<td><a href="http://www.nsit.ac.in/">http://www.nsit.ac.in/</a></td>
  							</tr>

							<tr>
    							<td class="widthtd">6.</td>
    							<td>INDRAPRASTHA INSTITUTE OF INFORMATION TECHNOLOGY -DELHI (IIIT-D)</td>
    							<td>1</td>
    							<td><a href="https://iiitd.ac.in/">https://iiitd.ac.in/</a></td>
  							</tr>


						</table>   
                    </div>

                </div>
            	</div>
            </div>
        </div>
    </section>
    <!-- courses end -->

    
    <section class="irs-copyright-field">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="irs-copyright">
                        <p>Copyright© 2017. Design by <a href="https://themeforest.net/user/irs_soft">irs_soft</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- script start from here -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-dropdownhover.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="js/isotope.js"></script>
    <script type="text/javascript" src="js/stellar.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="js/css3-animate-it.js"></script>
    <script type="text/javascript" src="js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="js/jquery.scrollUp.js"></script>
    <script type="text/javascript" src="js/classie.js"></script>

    <!-- Custom script for all pages -->
    <script type="text/javascript" src="js/script.js"></script>

</body>

</html>
{%endblock%}