{% extends 'base.html' %}

{% block title %}
	<title>UG Science</title>
{% endblock %}

{% block body %}

   
    <!-- Main Header end -->

    <!-- courses start -->
    <section class="irs-courses-field irs-courses-single">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="irs-courses-col irs-courses-col-single">

                        <div class="irs-courses-content">
                            <h2 style="color: coral">About Science courses</h2>
                            <p> Science courses imparts knowledge that carries a strong flavour of scienctific content and procedures and an exposure to some social science disciplines. India has a range of courses that provides education in various fields of science ranging from physics to life sciences etc.</p>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="irs-course-features">
                                        <h2 style="color: coral">List of Courses</h2>
                                        <ul>
                                        	
                                            <li><strong>B.Sc. (Hons) Anthropology</strong> 
                                            </li>
                                            <li><strong>B.Sc. (Hons) Bio-Chemistry</strong> 
                                            </li>
                                            <li><strong>B.Sc. (Hons.) Biological Sciences</strong> 
                                            </li>
                                            <li><strong>B.Sc. (Hons) Biomedical Science</strong> 
                                            </li>
                                             <li><strong>B.Sc. (Hons) Botany</strong> 
                                            </li>
                                            <li><strong>B.Sc. (Hons) Chemistry</strong> 
                                            </li>
                                             <li><strong>B.Sc. (Hons) Computer Science</strong> 
                                            </li>
                                            <li><strong>B.Sc. (Hons) Electronic Science</strong> 
                                            </li>
                                            <li><strong>B.Sc. (Hons) Food Technology</strong> 
                                            </li>
                                            <li><strong>B.Sc. (Hons) Geology</strong> 
                                            </li>
                                            <li><strong>B.Sc. (Hons) Home Science</strong> 
                                            </li>
                                             <li><strong>B.Sc. (Hons.) Instrumentation</strong> 
                                            </li>
                                            <li><strong>B.Sc. (Hons) Mathematics</strong> 
                                            </li>
                                             <li><strong>B.Sc. (Hons) Microbiology</strong> 
                                            </li>
                                            <li><strong>B.Sc. (Hons) Physics</strong> 
                                            </li>
                                             <li><strong>B.Sc. (Hons) Polymer Science</strong> 
                                            </li>
                                            <li><strong>B.Sc. (Hons) Statistics</strong> 
                                            </li>
                                             <li><strong>B.Sc. (Hons) Zoology</strong> 
                                            </li>
                                            <li><strong>B.Sc. Applied Life Sciences</strong> 
                                            </li>
                                            <li><strong>B.Sc. Applied Life Sciences with Agro-Chemical and Pest Management</strong> 
                                            </li>
                                            <li><strong>B.Sc. Applied Physical Science</strong> 
                                            </li>
                                            <li><strong>B.Sc. Applied Physical Science (Analytical Chemistry and Biochemistry)</strong> 
                                            </li>
                                            <li><strong>B.Sc. Applied Physical Sciences (Industrial Chemistry)</strong> 
                                            </li>
                                            <li><strong>B.Sc. Life Sciences</strong> 
                                            </li>
                                            <li><strong>B.Sc. Mathematical Science</strong> 
                                            </li>
                                            <li><strong>B.Sc. Physical Science(Chemistry)</strong> 
                                            </li>
                                            <li><strong>B.Sc. Physical Science (Computer Science)</strong> 
                                            </li>
                                            <li><strong>B.Sc. Physical Science(Electronics)</strong> 
                                            </li>
                                        </ul>
                                        <!-- <a class="btn btn-default irs-btn-transparent-two" href="http://irsfoundation.com/tf/templates/EducationPark/blog-single.html" role="button">enroll now</a> -->
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <img src="images/man.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                <div class="col-md-12">
                    <!-- <div class="irs-comment-single"> -->
                    <div class="course-table">
                    	<h2>List of Colleges</h2>
						<table>
  							<tr>
    							<th style="width: 6%;">S.No</th>
    							<th style="width:48%;">Name of the Institution</th>
    							<th>No. of Colleges</th>
    							<th>Website</th>
  							</tr>
  							
  							<tr>
    							<td>1.</td>
    							<td>Delhi University</td>
    							<td>90</td>
    							<td><a href="http://www.du.ac.in/du/">http://www.du.ac.in/du/</a></td>
  							</tr>
  
  							<tr>
    							<td>2.</td>
    							<td>St. Xavier's College, Mumbai</td>
    							<td>1</td>
    							<td><a href="http://xaviers.edu/main/">http://xaviers.edu/main/</a></td>
  							</tr>

  							<tr>
    							<td>3.</td>
    							<td>St. Joseph's College, Bangalore</td>
    							<td>1</td>
    							<td><a href="http://www.sjc.ac.in/">http://www.sjc.ac.in/</a></td>
  							</tr>

  							<tr>
    							<td>4.</td>
    							<td>Presidency College, Kolkata</td>
    							<td>1</td>
    							<td><a href="www.presiuniv.ac.in/">www.presiuniv.ac.in/</a></td>
  							</tr>

  							<!-- <tr>
    							<td>5.</td>
    							<td>Delhi University</td>
    							<td>90</td>
    							<td><a href="http://www.du.ac.in/du/">http://www.du.ac.in/du/</a></td>
  							</tr>

  							<tr>
    							<td>6.</td>
    							<td>Delhi University</td>
    							<td>90</td>
    							<td><a href="http://www.du.ac.in/du/">http://www.du.ac.in/du/</a></td>
  							</tr>
 -->

						</table>   
                    </div>

                </div>
            	</div>
            </div>
        </div>
    </section>
    <!-- courses end -->

{% endblock %}