{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>EduIndia|Undergraduate</title>
{% endblock %}

{% block body %}

<!-- courses start -->
<section class="irs-courses-field">
        <div class="container">
            <div class="row animatedParent animateOnce">
                <div class="col-md-4 col-sm-6">
                    <div class="irs-courses-col animated fadeInLeftShort slow delay-250">
                        <div class="irs-courses-img">
                            <img src="{% static 'images/courses/technology.jpg' %}" alt="">
                            
                            <div class="irs-courses-img-text">
                                <ul class="clearfix">
                                    <li>
                                        <p> 4 years</p>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="irs-courses-content">
                            <h4><a href="#">Technology</a></h4>
                            <p>pplication of science and practical knowledge to the innovation,
                                 design, construction, machines, and organizations</p>
                       
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="irs-courses-col animated fadeInUpShort slow delay-500">
                        <div class="irs-courses-img">
                            <img src="{% static 'images/courses/science.jpg' %}" alt="">
                           
                            <div class="irs-courses-img-text">
                                <ul class="clearfix">
                                    <li>
                                        <p> 3 years</p>
                                    </li>
                                   
                                </ul>
                            </div>
                        </div>
                        <div class="irs-courses-content">
                            <h4><a href="#">Science</a></h4>
                            <p>Imparts knowledge that carries a strong flavour of engineering and an exposure to social science disciplines.</p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="irs-courses-col animated fadeInRightShort slow delay-250">
                        <div class="irs-courses-img">
                            <img src="{% static 'images/courses/arts.jpg' %}" alt="">
                            
                            <div class="irs-courses-img-text">
                                <ul class="clearfix">
                                    <li>
                                        <p> 3 years</p>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="irs-courses-content">
                            <h4><a href="#"> Arts</a></h4>
                            <p>Is a bachelor's degree awarded for an undergraduate course or program in either the liberal arts, the sciences, or both.</p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="irs-courses-col animated fadeInLeftShort slow delay-250">
                        <div class="irs-courses-img">
                            <img src="{% static 'images/courses/management.jpg' %}" alt="">
                            <div class="irs-time">
                                <p><a href="courses-grid.html#">10:00 pm - 4:00 pm</a>
                                </p>
                            </div>
                            <div class="irs-courses-img-text">
                                <ul class="clearfix">
                                    <li>
                                        <p> 3 years</p>
                                    </li>
                                 
                                </ul>
                            </div>
                        </div>
                        <div class="irs-courses-content">
                            <h4><a href="#">Management</a></h4>
                            <p>An academic discipline, investigating areas such as social organization and organizational leadership.</p>
                            
                        </div>
                    </div>
                </div>
               
                <div class="col-md-4 col-sm-6">
                    <div class="irs-courses-col animated fadeInRightShort slow delay-250">
                        <div class="irs-courses-img">
                            <img src="{% static 'images/courses/commerce.jpg' %}" alt="">
                            <div class="irs-time">
                                <p><a href="courses-grid.html#">10:00 pm - 4:00 pm</a>
                                </p>
                            </div>
                            <div class="irs-courses-img-text">
                                <ul class="clearfix">
                                    <li>
                                        <p> 3 years</p>
                                    </li>
                                 
                                </ul>
                            </div>
                        </div>
                        <div class="irs-courses-content">
                            <h4><a href="#">Commerce</a></h4>
                            <p> Provides students with a wide range of managerial skills,
                                 while building competence in a particular area of business </p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="irs-courses-col animated fadeInRightShort slow delay-250">
                        <div class="irs-courses-img">
                            <img src="{% static 'images/courses/designing.jpg'%}" alt="">
                            <div class="irs-time">
                                <p><a href="courses-grid.html#">10:00 pm - 4:00 pm</a>
                                </p>
                            </div>
                            <div class="irs-courses-img-text">
                                <ul class="clearfix">
                                    <li>
                                        <p> 4 years</p>
                                    </li>
                                 
                                </ul>
                            </div>
                        </div>
                        <div class="irs-courses-content">
                            <h4><a href="#">Design</a></h4>
                            <p>The art of application of design and aesthetics or natural beauty to clothing and accessories which is influenced by cultural and social attitudes </p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                        <div class="irs-courses-col animated fadeInUpShort slow delay-500">
                            <div class="irs-courses-img">
                                <img src="{% static 'images/courses/law.jpg' %}" alt="">
                                <div class="irs-time">
                                    <p><a href="courses-grid.html#">10:00 pm - 4:00 pm</a>
                                    </p>
                                </div>
                                <div class="irs-courses-img-text">
                                    <ul class="clearfix">
                                        <li>
                                            <p> 5 years</p>
                                        </li>
                                   
                                    </ul>
                                </div>
                            </div>
                            <div class="irs-courses-content">
                                <h4><a href="#">Law</a></h4>
                                <p>Amalgamates Arts subjects along with the Law curriculum  with the study of the law principles, 
                                    legal system, and constitutional amendments</p>
                               
                            </div>
                        </div>
                    </div>
                <div class="col-md-4 col-sm-6">
                    <div class="irs-courses-col animated fadeInRightShort slow delay-250">
                        <div class="irs-courses-img">
                            <img src="{% static 'images/courses/architecture.jpg' %}" alt="">
                            <div class="irs-time">
                                <p><a href="courses-grid.html#">10:00 pm - 4:00 pm</a>
                                </p>
                            </div>
                            <div class="irs-courses-img-text">
                                <ul class="clearfix">
                                    <li>
                                        <p> 5 years</p>
                                    </li>
                                  
                                </ul>
                            </div>
                        </div>
                        <div class="irs-courses-content">
                            <h4><a href="#">Architecture</a></h4>
                            <p> The process and the product of planning, designing, and constructing buildings or any other structures.</p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="irs-courses-col animated fadeInRightShort slow delay-250">
                        <div class="irs-courses-img">
                            <img src="{% static 'images/courses/hm.jpg' %}" alt="">
                            <div class="irs-time">
                                <p><a href="courses-grid.html#">10:00 pm - 4:00 pm</a>
                                </p>
                            </div>
                            <div class="irs-courses-img-text">
                                <ul class="clearfix">
                                    <li>
                                        <p> 3 years</p>
                                    </li>
                            
                                </ul>
                            </div>
                        </div>
                        <div class="irs-courses-content">
                            <h4><a href="#">Hotel Management</a></h4>
                            <p>Study of hospitality industry which includes various responsibilities like management of hotel staff, business management, guest satisfaction,etc.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <!-- courses end -->
    {% endblock %}